
/*BODY*/

.content-left {
    position: relative;
}

.SessionTitle {
    height: 50%;
}

/*PostCard Context-Right
    - User Profile Pic
    - Category
    - To: (Contact)
*/

.context-right {
    position: relative;
}


